
    <label for="bed">Bed </label>
    <input #bed type="number" placeholder="Bed"><br><br>
    <label for="bath">Bath </label>
    <input #bath type="number" placeholder="Bath"><br><br>
    <label  for="story">Story </label>
    <input #story type="number" placeholder="Story"><br><br>
    <label for="price">Price Range </label>
    <input #lower type="number" placeholder="Lower Price "> - <input #higher type="number" placeholder="Higher Price"><br><br><br>

    <input (click)="filteringEvent()" type="submit" value="Submit">
    <br><br>


   

