<div class="box">
    
    <div  class="box-body" *ngIf="product">
        <!-- <ng-content></ng-content> -->
        <br>
        
        <img [src]="product.picture.large" alt=" ">
       
        <h3 [contentEditable]="editable" #content inputString>{{product.name.first}}</h3>
        <ng-container *ngIf="editable==false; else main">
            <button type="button" display='block'(click)="initialValue()">Done</button>    
        <button  type="button" display='block' (click)="cancelButton()">Cancel</button> 
        </ng-container>      
       
        <ng-content></ng-content>
    </div>  
    <ng-template #main >
        
        <button type="button" display='none'(click)="initialValue()">Done</button>    
        <button  type="button" display='none' (click)="cancelButton()">Cancel</button> 
    
    </ng-template> 
    
    
</div> 
