<ng-container *ngIf="products.length>1; else more">
    <ng-container *ngFor="let product of products" >
        <app-product-card *ngIf="product.picture ; else skeleton" [product]="product" [editable]="false">
            <ng-container *ngTemplateOutlet="gender; context: {genderPassed : product.gender}"></ng-container>
            
        </app-product-card>
    
        
    </ng-container>
</ng-container>

<ng-template #more >
        <app-product-card *ngIf="products.picture ; else skeleton" [product]="products" [editable]="true" (currentValue) = doneButton($event) (currentValue)="cancelButton()">
            <ng-container *ngTemplateOutlet="gender; context: {genderPassed : products.gender}"></ng-container>
                   
        </app-product-card>
</ng-template>


<ng-template #skeleton >
        <br>
    <h1>Skeleton</h1>
</ng-template>

<ng-template let-gender ="genderPassed" #gender>
    <br>
    <p>User is {{gender}}</p>
</ng-template>




